body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 100vh; /* 將高度設置為視窗的高度 */

    background-image: url(img/LeaflatMapBG.png);
    background-size: cover; /* 圖片尺寸根據容器大小等比例調整 */
    background-position: center; /* 圖片置中 */


    font-family: 'Noto Sans JP', sans-serif;


}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* 添加相对定位，以便 .LocaBUG 使用绝对定位相对于此容器定位 */
}

.LocaBUG {
    width: 40px;
    height: 40px;
    background-image: url(img/Location.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute; /* 使用绝对定位 */
    left: calc(50% - 135px); /* 让 .LocaBUG 距离 .headerContainer 左边固定 30px 的位置 */
    top: calc(61px);

}

.header {
    text-align: center;
    font-size: 2em;
    margin-top: 0;
    padding-top: 60px;

    margin-bottom: 15px;

    z-index: 10;
}

.discriptionContainer_Frame{
    
    width: 100%; /* 調整寬度至適合的大小 */
    /* height: 100%; */

    display: flex;

    justify-content: center;
    /* align-items: center; */


}

.discriptionContainer {

    pointer-events: all;
    position: relative;

    width: 500px; /* 調整寬度至適合的大小 */

    min-width: 300px;

    left: 0%;
    border-radius: 30px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    background-color: #ffffff3a;
    display: inline-block;

    /* top: 55; */



}


.item{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 22px;
    padding-bottom: 22px;
    border-bottom: 1px solid #555555;
}
.item.end{
    border-bottom: 0px solid #555555;
}

.title{
    margin-bottom: 10px;
    /* font-size: 2em; */
    color: #555555;
    font-weight: bold;
}

.subitem{
    margin-bottom: 15px;
}

.subtitle{
    margin-bottom: 5px;
    color: #555555;
    /* font-size: 1em; */
}

.info{
    /* margin-top: 2em; */
}

.info.a{
    cursor: pointer;
    text-decoration: none;
    color: #7EBC32;
    overflow-wrap: anywhere;
}
